APP_NAME = Gitea
RUN_USER = {{ gitea_user }}
RUN_MODE = prod

[database]
# DB_TYPE  = sqlite3
DB_TYPE  = {{ gitea_db_type }}
HOST     = {{ gitea_db_host }}
NAME     = {{ gitea_db_name }}
USER     = {{ gitea_db_username }}
PASSWD   = {{ gitea_db_password }}
SSL_MODE = disable
# PATH     = data/gitea.db

[repository]
ROOT = {{ gitea_repo_root }}
FORCE_PRIVATE = true

[server]

PROTOCOL         = {{ gitea_http_port }}

HTTP_ADDR        = {{ gitea_http_addr }}
HTTP_PORT        = {{ gitea_http_port }}
ROOT_URL         = {{ gitea_http_protocol }}://{{ gitea_http_urlhost }}{{ gitea_url_path | default('/') }}
DISABLE_SSH      = false
SSH_PORT         = {{ gitea_ssh_port }}

LFS_START_SERVER = false
OFFLINE_MODE     = false

START_SSH_SERVER = {{ gitea_ssh_start_server }}
SSH_DOMAIN       = {{ gitea_ssh_host }}


[mailer]
{% if gitea_mailer_from is defined %}
ENABLED = true
HOST = {{ gitea_mailer_host }}
FROM = {{ gitea_mailer_from }}

{% if gitea_mailer_user is defined %}
USER = {{ gitea_mailer_user }}
PASSWD = {{ gitea_mailer_passwd }}
{% endif %}
{% else %}
ENABLED = false
{% endif %}


{% if gitea_cache_adapter != "none" %}

[cache]
ADAPTER = {{ gitea_cache_adapter }}
HOST = {{ gitea_cache_host }}
{% endif %}


[service]
REGISTER_EMAIL_CONFIRM     = false
ENABLE_NOTIFY_MAIL         = false
DISABLE_REGISTRATION       = true
ENABLE_CAPTCHA             = false
REQUIRE_SIGNIN_VIEW        = false
DEFAULT_KEEP_EMAIL_PRIVATE = false
NO_REPLY_ADDRESS           = noreply.example.com

[picture]
DISABLE_GRAVATAR        = true
ENABLE_FEDERATED_AVATAR = false

{% if gitea_session_provider != "none" %}
[session]
PROVIDER = {{ gitea_session_provider }}
PROVIDER_CONFIG = {{ gitea_session_provider_config }}
COOKIE_SECURE = {{ gitea_session_cookie_secure }}
{% endif %}


[log]
MODE      = {{ gitea_log_mode }}
LEVEL     = {{ gitea_log_level }}
ROOT_PATH = {{ gitea_log_dir }}

[security]
INSTALL_LOCK = true
SECRET_KEY   = {{ gitea_secret }}


[ssh.minimum_key_sizes]
ED25519 = 256
ECDSA   = 256
RSA     = 4096
DSA     = -1
