[Unit]
Description=Gitead Project Management program
After=network.target

[Service]
Type=simple
Restart=on-failure
User=_gitea
RootDirectory=/
WorkingDirectory={{ gitea_install_path | dirname }}
ExecStart={{ gitea_install_path }}/{{ gitea_binary }} web -p {{ http_port }} 

[Install]
WantedBy=multi-user.target
